<div class="bdbq-banner my-5 py-4">
  <div class="d-inline-block pr-lg-5 h5 mt-1 mt-xl-0 mb-0 text-center">
    Our experts help you succeed in your BigData projects
  </div>
  <div class="actions">
    <button
      class="calendly-button"
      type="button"
      data-toggle="modal"
      data-target="#calendlyModal"
    >
      Schedule a Meeting
    </button>
    <button
      class="contact-button"
      type="button"
      data-toggle="modal"
      data-target="#contactModal"
    >
      Contact Us
    </button>
  </div>
  {{> calendly-modal}}
  {{> contact-modal subject="Blog home banner"}}
</div>