<div class="container">
  <form
    action="{{contactFormPostUrl}}"
    method="POST"
    id="contactForm"
    class="contact-form"
  >
    <h3 class="contact-form__title">
      Contact Us
    </h3>
    <p class="contact-form__description">
      Have a Query regarding Elasticsearch or OpenSearch? Ask us anything.
    </p>
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <div class="form-floating ms-lg-auto">
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Your Full Name"
            required
          />
          <label for="floatingInput">
            Your Full Name
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            required
          />
          <label for="floatingInput">
            Email
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating ms-lg-auto">
          <input
            type="tel"
            name="phone"
            class="form-control"
            placeholder="Phone"
          />
          <label for="floatingInput">
            Phone
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            name="company"
            class="form-control"
            placeholder="Company"
          />
          <label for="floatingInput">
            Company
          </label>
        </div>
      </div>
    </div>
    <input
      type="hidden"
      name="b_13b9659b659dcce482526ea2d_11a1b7987b"
      tabindex="-1"
      value=""
    />
    <input name="subject" type="hidden" tabindex="-1" value="Blog Contact" />
    <div class="d-flex justify-content-center mb-3">
      <div class="g-recaptcha" data-sitekey="{{recaptchaClientKey}}"></div>
    </div>
    <div class="contact-form__privacy">
      By clicking the button below you’re agreeing to our
      <a href="https://bigdataboutique.com/privacy" target="_blank">
        Privacy Policy
      </a>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button class="button-filled" type="submit">
          Send
        </button>
      </div>
    </div>
  </form>
</div>