<div class="post-cta" data-keywords="{{#if metaKeywords}}{{toLowerCase metaKeywords}}{{else}}elasticsearch{{/if}}">
  <div class="text"></div>
  <div class="actions">
    <button
      class="button-filled"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#calendlyModal"
      style="min-width:218px"
      data-gtm="BlogCalendlyButton"
    >
      Schedule a Meeting
    </button>
    <a
      class="button-outline"
      href="#contactForm"
      style="min-width:218px"
      data-gtm="BlogContactButton"
    >
      Contact Us
    </a>
  </div>
  {{> modals/calendly-modal}}
</div>