<main class="content">
  {{#if (and posts.length (eq pageNum 1) (eq template "index"))}}
    {{> fresh-post (head posts) index="true"}}
  {{/if}}
  <div class="container mt-5">
    {{> filter-box}}
    <div class="row">
      {{#if posts.length}}
        {{#each (tail posts)}}
          {{> post this}}
        {{/each}}
      {{else}}
        {{> no-content}}
      {{/if}}
    </div>
    {{#if nextPage}}
      <div class="text-end">
        <a class="btn btn-outline-secondary" href="{{blogRoutePrefix}}/page/{{nextPage}}">See more posts</a>
      </div>
    {{/if}}
  </div>
  {{> contact}}
</main>
