:root {
  --color-primary: #f09132;
  --color-secondary: #5a63b0;
  --container-padding: 15px;
}

body {
  background: #fcfcfc;
  color: #261606;
  font-family:
    Source Sans Pro,
    sans-serif;
}

input,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-secondary);
}

a:hover {
  text-decoration: underline;
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

main.content {
  overflow-x: hidden;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: 1200px;
}

.form-control {
  font-size: 18px;
  color: #292929;
  border: 1px solid #dddcf5;
  border-radius: 5px;
}

.form-control:active,
.form-control:focus {
  border-color: var(--color-secondary);
}

.form-floating > label {
  color: #c7c8cc;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("/static/theme/img/checkbox.svg");
}

.button-filled {
  min-width: 200px;
  text-align: center;
  padding: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  box-shadow: 0px 20px 20px -15px rgba(11, 18, 78, 0.12);
  transition: 0.3s;
}

.button-filled:hover,
.button-filled:focus-visible {
  text-decoration: none;
  background-color: transparent;
  color: #262626;
}

.button-outline {
  min-width: 200px;
  text-align: center;
  padding: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #262626;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  transition: 0.3s;
}

.button-outline:hover,
.button-outline:focus-visible {
  text-decoration: none;
  background-color: var(--color-secondary);
  color: #fff;
}

button.close {
  background-color: transparent;
  background-image: url("/static/theme/img/times.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: none;
}

.divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
}

.bdbq-popover {
  background: #ffffff;
  border: 1px solid #dddcf5;
  box-shadow: 0px 50px 30px -20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.bdbq-popover .popover-arrow {
  display: none;
}

.bdbq-popover .popover-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.bdbq-popover .popover-body {
  scrollbar-width: thin;
}

.bdbq-popover .popover-body::-webkit-scrollbar {
  inline-size: 8px;
  block-size: 8px;
}

.bdbq-popover .popover-body::-webkit-scrollbar-corner,
.bdbq-popover .popover-body::-webkit-scrollbar-track {
  background: transparent;
}

.bdbq-popover .popover-body::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  background-clip: content-box;
  border-radius: 8px;
  border: none;
}

.full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content {
  flex: 1;
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-container {
  padding: 10px 0;
}

.navbar {
  position: static;
  padding: 0;
}

.navbar .navbar-brand {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar .navbar-brand img {
  width: 154px;
  height: auto;
}

.navbar .navbar-brand .blog-text {
  position: absolute;
  right: -32px;
  bottom: 1px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
}

.navbar .navbar-nav {
  padding: 20px 0;
}

.navbar .navbar-nav .nav-link {
  color: #1a1a1a;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  opacity: 0.9;
  padding: 15px 0;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  text-decoration: none;
  color: var(--color-secondary);
}

.navbar .navbar-nav .active > .nav-link {
  color: var(--color-secondary);
}

.navbar .navbar-nav .contact-button {
  display: flex;
  width: 100%;
  margin-top: 16px;
}

.navbar .navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  padding: 0;
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus-visible,
.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar .navbar-toggler svg:nth-child(1) {
  display: none;
  width: 32px;
  height: 19px;
}

.navbar .navbar-toggler svg:nth-child(2) {
  display: block;
  width: 24px;
  height: 25px;
}

.navbar .navbar-toggler.collapsed svg:nth-child(1) {
  display: block;
}

.navbar .navbar-toggler.collapsed svg:nth-child(2) {
  display: none;
}

.navbar .contact-button {
  height: 46px;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 9999px;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  border: 1px solid var(--color-secondary);
  transition: 0.1s;
}

.navbar .contact-button:hover,
.navbar .contact-button:focus-visible {
  background: var(--color-secondary);
  color: #fff;
}

.sticky-navbar {
  background-color: hsla(0, 0%, 100%, 0.8);
  transform: translateZ(0);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 5%);
}

.sticky-navbar .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

footer {
  position: relative;
  z-index: 1;
  background-image: url("/static/theme/footer-background.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #29231e;
  background-size: 90%;
}

footer .logo {
  margin: 0 0 30px 0;
}

footer .logo img {
  max-width: 170px;
}

footer .sitemap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 40px 0;
}

footer .sitemap div[class^="col-"]:not(.logo) {
  margin-bottom: 15px;
}

footer .sitemap div[class^="col-"]:last-of-type {
  margin-top: -10px;
}

footer .sitemap ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer .sitemap li {
  margin-bottom: 5px;
}

footer .sitemap li:first-of-type h3 {
  margin-top: 0;
}

footer .sitemap li:last-of-type {
  margin-bottom: 0;
}

footer .sitemap h3 {
  color: rgba(255, 255, 255, 0.3);
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
}

footer .sitemap a {
  display: inline-block;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

footer .sitemap a:hover {
  color: #727eff;
}

footer .sitemap i {
  display: inline-block;
  font-size: 10px;
  margin: 0 0 0 5px;
  transform: translateY(-3px);
}

footer .trademarks {
  position: relative;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  padding: 30px 0;
  text-align: center;
}

footer .trademarks::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-50%);
}

footer .certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: -20px;
}

footer .certificates img {
  width: 60px;
  opacity: 0.6;
}

footer .socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

footer .copyright {
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  margin: 10px 0;
}

footer .copyright p {
  margin: 0;
}

footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px 0;
}

footer .icons a {
  display: flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  margin-right: 20px;
  opacity: 0.7;
}

footer .icons a:hover {
  opacity: 0.52;
}

footer .icons a:last-child {
  margin-right: 0;
}

footer .icons img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.post-cta {
  margin: 48px 0;
}

.post-cta__text:not(:empty) {
  margin-bottom: 40px;
}

.post-cta__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  color: #262626;
  margin-left: auto;
  margin-right: auto;
}

.post-cta__text b {
  font-weight: 400;
  color: var(--color-primary);
}

.post-cta__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.calendly-modal .modal-dialog {
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

.calendly-modal .modal-content {
  background-color: transparent;
  border: none;
}

.calendly-modal .modal-body {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
}

.calendly-modal .close {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #292929;
  font-size: 1.6rem;
  opacity: 0.8;
}

.calendly-modal .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.loader {
  width: 1em;
  height: 1em;
  border: 5px solid var(--color-secondary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.filter-box {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 0 0 48px 0;
  padding: 24px;
  background: var(--color-secondary);
  border: 1px solid #dddcf5;
  box-shadow: 0px 60px 30px -30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  --icon-size: 24px;
}

.filter-box .filter-item-container {
  position: relative;
}

.filter-box .filter-item-container::after {
  content: "";
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  top: 50%;
  right: 15px;
  pointer-events: none;
  background-repeat: no-repeat;
}

.filter-box .filter-item-container:has(> input)::after {
  background-image: url("/static/theme/img/search.svg");
  background-size: contain;
  background-position: center;
  transform: translateY(-50%);
}

.filter-box .filter-item-container:has(> button)::after {
  width: 12px;
  height: 6px;
  background-image: url("/static/theme/img/arrow-down.svg");
  background-size: 12px 6px;
  background-position: right;
  transform: translate(-1px, -20%);
}

.filter-box .filter-item-container:has(> button[aria-describedby])::after {
  width: 15px;
  height: 15px;
  background-image: url("/static/theme/img/close.svg");
  background-size: 15px;
  background-position: right;
  transform: translateY(-50%);
}

.filter-box .filter-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  text-transform: capitalize;
  padding: 0 calc(15px * 2 + var(--icon-size)) 0 15px;
  background: #ffffff;
  border: 1px solid #dddcf5;
  border-radius: 5px;
  font-size: 18px;
  color: #262626;
}

.filter-box input.filter-item {
  text-transform: none;
}

.filter-box .filter-item:focus {
  outline: none;
}

.filter-box .filter-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-box .all-tags,
.filter-box .all-series {
  display: none;
}

.all-tags,
.all-series {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: var(--color-secondary);
  font-size: 15px;
  line-height: 18px;
}

.all-tags a,
.all-series a {
  text-decoration: none;
  border: 1px solid #5a63b0;
  border-radius: 5px;
  padding: 4px 8px;
}

.fresh-post {
  padding: 24px 0 48px 0;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
}

.fresh-post__content {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.fresh-post__img {
  position: relative;
  display: grid;
  align-items: center;
  flex: 1;
  margin-bottom: 24px;
}

.fresh-post__img > a {
  display: block;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(90, 99, 176, 0.25);
}

.fresh-post__img > a::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.fresh-post__img img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.fresh-post__time {
  display: flex;
  gap: 32px;
  color: #9f9e9e;
  margin-bottom: 16px;
}

.fresh-post__title {
  font-weight: 600;
  margin-bottom: 16px;
}

.fresh-post__title a {
  color: inherit;
  text-decoration: none;
}

.fresh-post__author {
  font-size: 16px;
  padding: 8px 0 16px 0;
  color: #9f9e9e;
}

.fresh-post__author img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 1px solid #eee;
}

.fresh-post__badges:not(:empty) {
  margin-bottom: 16px;
}

.fresh-post__badges a {
  display: inline-block;
}

.fresh-post__excerpt {
  font-size: 18px;
}

.fresh-post__social {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fresh-post__social span {
  font-size: 16px;
  color: #9f9e9e;
  margin-right: 8px;
}

.fresh-post__social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: inherit;
  filter: grayscale(0.5);
  opacity: 0.5;
  transition: 0.3s;
}

.fresh-post__social a:hover {
  filter: none;
  opacity: 1;
}

.fresh-post__social a:last-of-type {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 50%;
}

.fresh-post__social a:hover .a {
  fill: #3e3e3e;
}

.post-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 10px 17px 5px rgb(0 0 0 / 5%);
  border: 1px solid rgba(90, 99, 176, 0.25);
}

.post-box__img {
  display: block;
  position: relative;
}

.post-box__img::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}

.post-box__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-box__time {
  display: flex;
  gap: 32px;
  color: #9f9e9e;
  margin-bottom: 8px;
}

.post-box__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.post-box__title a {
  color: inherit;
  text-decoration: none;
}

.tag,
.serie {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  transition: all 0.15s ease-in;
  line-height: 1.71;
  font-size: 1.4rem;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 0.375rem 0.875rem;
  display: inline-block;
}

.tag {
  color: #843aea;
  border: 1px solid #f5eeff;
}

.serie {
  color: #006adc;
  border: 1px solid #e8f3ff;
}

.tag span,
.serie span {
  font-size: 14px;
  color: #9f9e9e;
}

.tag:hover {
  /* Don't transition the "in" animation, so it feels snappy */
  transition: none;
  background-color: #eadeff;
  color: #843aea;
}

.serie:hover {
  transition: none;
  background: #e8f3ff;
  color: #006adc;
}

.tag.tag-solid {
  background: #f5eeff;
  color: #843aea;
}

.serie.serie-solid {
  background: #e8f3ff;
  color: #006adc;
}

.post-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  --sidebar-spacing: 24px;
}

.post-row__sidebar {
  position: relative;
  padding: 48px 0;
}

.post-row__sidebar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(var(--bs-gutter-x) * -1);
  width: calc(100% + var(--bs-gutter-x) * 2);
  border-top: 1px solid rgba(38, 38, 38, 0.1);
}

.post-row__subscribe {
  display: flex;
  margin: 8px 0 var(--sidebar-spacing) 0;
}

.post-row__subscribe .subscribe-button {
  width: 100%;
  flex: 1;
  color: #fff;
  background-color: var(--color-secondary);
  border: none;
}

.post-row__subscribe .subscribe-button:active {
  color: #fff;
  background-color: var(--color-secondary);
}

.post-row__subscribe .rss-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  color: #fff;
  background-color: var(--color-primary);
  margin-left: 10px;
  border: none;
}

.post-row__subscribe .rss-button:active {
  color: #fff;
  background-color: var(--color-primary);
}

.post-row__subscribe .rss-button img {
  width: 14px;
  height: 16px;
}

.post-row__related {
  margin-bottom: var(--sidebar-spacing);
}

.post-row__related a {
  width: 100%;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 24px;
}

.post-row__related a > div {
  width: 100%;
  flex: 1;
}

.post-row__related h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #36291b;
  margin-bottom: 24px;
}

.post-row__related time {
  display: block;
  color: #262626;
  opacity: 0.4;
  margin-bottom: 5px;
}

.post-row__related img {
  display: block;
  width: 123px;
  height: 90px;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 5px;
}

.post-row__canonicalUrl {
  font-style: italic;
  margin-top: 48px;
}

.post-content {
  margin-top: 48px;
}

.post-content .excerpt {
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
}

.post-content p,
ul,
ol {
  font-size: inherit;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  scroll-margin-top: 90px;
}

.post-content h1 a:has(i),
.post-content h2 a:has(i),
.post-content h3 a:has(i),
.post-content h4 a:has(i),
.post-content h5 a:has(i),
.post-content h6 a:has(i) {
  position: relative;
  margin: 5px 0 0 15px;
  opacity: 0;
  transition: 0.3s;
}

@media (hover: none) {
  .post-content h1 a:has(i),
  .post-content h2 a:has(i),
  .post-content h3 a:has(i),
  .post-content h4 a:has(i),
  .post-content h5 a:has(i),
  .post-content h6 a:has(i) {
    opacity: 1;
  }
}

.post-content h1:hover a:has(i),
.post-content h2:hover a:has(i),
.post-content h3:hover a:has(i),
.post-content h4:hover a:has(i),
.post-content h5:hover a:has(i),
.post-content h6:hover a:has(i) {
  opacity: 1;
}

.post-content h1 a i,
.post-content h2 a i,
.post-content h3 a i,
.post-content h4 a i,
.post-content h5 a i,
.post-content h6 a i {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  transform: translateY(-40%);
  background-image: url("/static/theme/img/link.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.post-content a {
  word-wrap: break-word;
}

.post-content .video.video-youtube {
  position: relative;
  padding-bottom: 56.25%;
}

.post-content .video.video-youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.post-content hr {
  width: 100%;
}

.post-content code {
  margin: 0 2px;
}

.post-content pre {
  position: relative;
}

.post-content pre::before {
  content: attr(data-language);
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: #6b6b6b;
  border-radius: 3px;
  padding: 2px;
}

.post-content pre code {
  font-size: 16px;
  line-height: 1.5;
}

.post-content pre code:not(.hljs) {
  background: #f0f0f0;
}

.post-content pre:not(:has(.hljs)) {
  scrollbar-width: thin;
  padding: 0.5em;
  background: #f0f0f0;
}

.post-content pre:not(:has(.hljs))::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.post-content pre:not(:has(.hljs))::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #efefef;
}

.post-content pre:not(:has(.hljs))::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #aaa;
}

.post-content a[data-fancybox="gallery"] {
  display: block;
}

.post-content img {
  display: block;
  max-width: 100%;
  max-height: 50vh;
  margin: 0 auto;
}

.post-content img:hover {
  cursor: zoom-in;
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}

.post-content table {
  margin: 1rem 0;
  width: 100%;
  overflow-x: auto;
}

.post-content table td {
  vertical-align: middle;
  border: 1px solid #d3dae6;
  font-weight: inherit;
  text-align: inherit;
  padding: 2px 8px;
}

.post-content table tr:first-of-type td {
  font-weight: 600;
  background-color: #f5f7fa;
}

.contact-form {
  margin: 48px 0;
  text-align: center;
}

.contact-form__title {
  font-size: 30px;
  line-height: 35px;
  color: #1a1a1a;
}

.contact-form__description {
  font-size: 24px;
}

.contact-form__description:not(:empty) {
  margin-bottom: 20px;
}

.contact-form__privacy {
  color: #bbbcbf;
  margin-bottom: 24px;
}

input[name="b_13b9659b659dcce482526ea2d_11a1b7987b"] {
  position: absolute;
  left: -5000px;
  top: -5000px;
  opacity: 0;
}

.contact-form .col-md-6:nth-child(2n + 1) .form-floating {
  margin-left: auto;
}

.contact-modal .contact-form {
  margin: 12px 0 24px 0;
}

.contact-modal .contact-form .col-md-6 {
  width: 100%;
}

.contact-modal .contact-form .col-md-6 .form-floating {
  width: 100%;
  max-width: none;
  margin: 0;
}

.contact-modal .contact-form__title {
  margin-bottom: 24px;
}

.contact-modal .contact-form__description {
  display: none;
}

.contact-modal .close {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #292929;
  font-size: 1.6rem;
  opacity: 0.8;
}

.comments-widget__container {
  margin: 48px 0;
}

.comments-widget__container h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.comments-widget__container .post-author {
  margin-left: 0;
}

.comments-widget__container .post-author a {
  text-decoration: none;
}

.comments-widget__container .post-author a:hover span {
  text-decoration: underline;
}

.comments-widget__container .post-author img {
  margin: 0 8px 0 0;
  border-radius: 50%;
  height: 31px;
  width: 31px;
}

.comments-widget__container .comment {
  margin-bottom: 30px;
}

.comments-widget__form-container {
  display: none;
}

.replies-container {
  padding-left: 30px;
  margin-top: 30px;
}

.comments-widget__footer {
  text-align: right;
}

.comments-widget__footer span {
  margin-left: 16px;
}

.comments-widget__footer .btn-add-comment {
  cursor: pointer;
  text-decoration: none;
}

.comments-widget__form .alert {
  margin: 3rem 0rem;
}

.comments-widget__form-row {
  display: grid;
  grid-auto-flow: row;
}

.submit-comment {
  color: #fff;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: 12px 24px;
  line-height: 1;
  transition: 0.3s;
}

.submit-comment:hover {
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary-hover);
}

.subscribe-modal .modal-content {
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

.subscribe-modal .modal-body {
  padding: 0;
}

.subscribe-form {
  position: relative;
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 30px 30px 40px 30px;
  color: #fff;
}

.subscribe-form p {
  margin-bottom: 20px;
}

.subscribe-form .privacy {
  margin-bottom: 0;
}

.subscribe-form .privacy a {
  color: #fff;
  text-decoration: underline;
}

.subscribe-form .close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: #fff;
  font-size: 16px;
  text-shadow: none;
  opacity: 0.8;
}

.subscribe-form .form-control {
  background: #fcfcfc;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  height: 50px;
}

.subscribe-form .form-check-input {
  margin-top: 6px;
}

.subscribe-form .submit-button {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}

.subscribe-form .submit-button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.subscribe-form .submit-button:hover,
.subscribe-form .submit-button:focus-visible {
  background-color: #fff;
  color: var(--color-primary);
}

.tag-description {
  font-size: 18px;
}

@media (min-width: 768px) {
  :root {
    --container-padding: 30px;
  }

  .navbar .navbar-brand {
    height: 60px;
  }

  .navbar .navbar-brand img {
    width: 206px;
    margin-bottom: 2px;
  }

  .navbar .navbar-brand .blog-text {
    bottom: 8px;
  }

  .navbar .navbar-toggler {
    top: 20px;
    right: 30px;
  }

  .navbar .contact-button {
    position: absolute;
    display: inline-flex;
    top: 17px;
    right: 100px;
  }

  .navbar .navbar-nav .contact-button {
    display: none;
  }

  .footer-sitemap {
    justify-content: center;
    flex-direction: row;
  }

  .filter-box {
    flex-direction: row;
  }

  .filter-box .filter-item-container {
    flex: 1 1 33.3%;
    min-width: 0;
  }

  .fresh-post__time,
  .fresh-post__author {
    font-size: 20px;
  }

  .fresh-post__social span {
    font-size: 20px;
  }

  .post-cta {
    margin: 96px 0;
  }

  .post-cta__text {
    font-size: 40px;
  }

  .post-content .post-cta {
    margin: 64px 0 80px 0;
  }

  .post-content {
    font-size: 18px;
    line-height: 1.8;
  }

  .post-row__canonicalUrl {
    font-size: 18px;
  }

  .contact-form {
    margin: 100px 0;
  }

  .contact-form__title {
    font-size: 60px;
    line-height: 1.0833;
    margin-bottom: 16px;
  }

  .contact-form__description {
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 40px auto;
  }

  .contact-form__privacy {
    font-size: 18px;
    line-height: 26px;
  }

  .contact-modal .contact-form__title {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-nav {
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 15px;
    line-height: 15px;
    white-space: nowrap;
    transition: color 0.3s;
  }

  .navbar .navbar-toggler {
    display: none;
  }

  .navbar .contact-button {
    display: none;
  }

  .navbar .navbar-nav .contact-button {
    position: static;
    display: inline-flex;
    width: auto;
    margin-top: 0;
  }

  footer {
    background-size: 70%;
  }

  footer .logo {
    margin-bottom: 50px;
  }

  footer .sitemap {
    flex-direction: row;
    align-items: flex-start;
  }

  footer .sitemap ul ul {
    padding-left: 15px;
  }

  footer .sitemap div[class^="col-"]:not(.logo):last-of-type {
    margin-top: 0;
  }

  footer .trademarks {
    text-align: left;
  }

  footer .trademarks::before {
    left: 0;
    transform: none;
  }

  footer .certificates {
    align-items: flex-start;
    margin: 105px 0 0 0;
  }

  footer .socials {
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
  }

  footer .socials .icons a {
    margin-right: 35px;
  }

  .fresh-post {
    padding: 48px 0;
  }

  .fresh-post__content {
    padding: 0;
  }

  .fresh-post__img {
    min-height: 100%;
  }

  .fresh-post__img a {
    border-radius: 8px;
    border: 1px solid var(--color-secondary);
  }

  .fresh-post__img img {
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }

  .post-row {
    flex-direction: row;
    align-items: flex-start;
    --sidebar-width: 300px;
  }

  .post-row__content {
    width: calc(100% - var(--sidebar-width) - var(--sidebar-spacing) * 2);
    flex: 1;
    border-right: 1px solid rgba(38, 38, 38, 0.1);
  }

  .post-row__inner {
    margin: var(--sidebar-spacing);
  }

  .post-row__sidebar {
    flex: none;
    width: var(--sidebar-width);
    margin: 0 var(--sidebar-spacing);
  }

  .post-row__sidebar::before {
    display: none;
  }

  .contact-form .form-floating {
    max-width: 370px;
  }

  .subscribe-form {
    padding: 60px;
  }

  .subscribe-form .close {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  footer {
    background-size: 50%;
  }

  .post-row {
    --sidebar-spacing: 48px;
  }

  .post-content {
    font-size: 22px;
    line-height: 40px;
  }
}
