<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 footer-logo">
        <a href="https://bigdataboutique.com" target="_blank">
          <img src="//bigdataboutique.com/images/horizontal-logo.svg" alt="" />
        </a>
      </div>
      <div class="col-lg-5 footer-sitemap">
        <a href="https://bigdataboutique.com/services">
          Services
        </a>
        <a href="https://bigdataboutique.com/training">
          Training
        </a>
        <a href="https://bigdataboutique.com/careers">
          Careers
        </a>
        <a href="https://bigdataboutique.com/contact">
          Contact
        </a>
      </div>
      <div class="col-lg-4">
        <div class="footer-icons">
          <a href="https://github.com/BigDataBoutique/" target="_blank">
            <img class="icon" src="/static/theme/img/github.svg" alt="github" />
          </a>
          <a href="https://www.facebook.com/bigdataboutique/" target="_blank">
            <img
              class="icon"
              src="/static/theme/img/facebook.svg"
              alt="facebook"
            />
          </a>
          <a href="https://twitter.com/bigdataboutique" target="_blank">
            <img
              class="icon"
              src="/static/theme/img/twitter.svg"
              alt="twitter"
            />
          </a>
          <a
            href="https://www.linkedin.com/company/bigdata-boutique"
            target="_blank"
          >
            <img
              class="icon"
              src="/static/theme/img/linkedin.svg"
              alt="linkedin"
            />
          </a>
          <a
            href="https://www.youtube.com/channel/UCBHr7lM2u6SCWPJvcKug-Yg"
            target="_blank"
          >
            <img
              class="icon"
              src="/static/theme/img/youtube.svg"
              alt="youtube"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>