<footer>
  <div class="container">
    <nav class="row sitemap">
      <div class="col-lg-12 logo">
        <a href="/">
          <img
            src="/static/theme/logo-greyscale.svg"
            alt="bigdata boutique"
            width="170"
            height="37"
          />
        </a>
      </div>
      <div class="col-lg-3">
        <ul>
          <li>
            <h3>Services</h3>
          </li>
          <li>
            <a href="https://bigdataboutique.com/services"
              >Big Data Consulting</a
            >
          </li>
          <li>
            <a
              href="https://bigdataboutique.com/services/elasticsearch-consulting"
              >Elasticsearch Support &amp; Consulting</a
            >
          </li>
          <li>
            <a href="https://bigdataboutique.com/services/opensearch-consulting"
              >OpenSearch Support &amp; Consulting</a
            >
          </li>
          <li>
            <a
              href="https://bigdataboutique.com/services/apache-kafka-consulting"
              >Apache Kafka Consulting</a
            >
          </li>
          <li>
            <a
              href="https://bigdataboutique.com/services/apache-flink-consulting"
              >Apache Flink Consulting</a
            >
          </li>
          <li>
            <a
              href="https://bigdataboutique.com/services/apache-spark-consulting"
              >Apache Spark Consulting</a
            >
          </li>
          <li>
            <a href="https://bigdataboutique.com/services/databricks-consulting"
              >Databricks Consulting</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <ul>
          <li>
            <h3>Solutions</h3>
          </li>
          <li>
            <a href="https://bigdataboutique.com/solutions/pulse">Pulse</a>
          </li>
          <li>
            <a
              href="https://bigdataboutique.com/solutions/elasticsearch-query-analytics"
              >Elasticsearch Query Analytics</a
            >
          </li>
          <li>
            <a href="https://bigdataboutique.com/solutions/presto-monitor"
              >Presto Monitor</a
            >
          </li>
          <li>
            <a href="https://bigdataboutique.com/solutions/presto-search"
              >Presto Search</a
            >
          </li>
          <li>
            <a href="https://ey.fo" target="_blank" rel="noopener"
              >Eyfo - Hebrew Search Plugin
              <svg
                aria-hidden="true"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
                style="width: 10px; height: 10px; margin-left: 5px"
              >
                <path
                  fill="currentColor"
                  d="M448 241.823V464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h339.976c10.691 0 16.045 12.926 8.485 20.485l-24 24a12.002 12.002 0 0 1-8.485 3.515H54a6 6 0 0 0-6 6v340a6 6 0 0 0 6 6h340a6 6 0 0 0 6-6V265.823c0-3.183 1.264-6.235 3.515-8.485l24-24c7.559-7.56 20.485-2.206 20.485 8.485zM564 0H428.015c-10.658 0-16.039 12.93-8.485 20.485l48.187 48.201-272.202 272.202c-4.686 4.686-4.686 12.284 0 16.971l22.627 22.627c4.687 4.686 12.285 4.686 16.971 0l272.201-272.201 48.201 48.192c7.513 7.513 20.485 2.235 20.485-8.485V12c0-6.627-5.373-12-12-12z"
                  class=""
                ></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <ul>
          <li>
            <a href="https://bigdataboutique.com/training">Training</a>
          </li>
          <li>
            <a href="https://bigdataboutique.com/ask-me-anything"
              >Ask Me Anything</a
            >
          </li>
          <li>
            <a href="https://bigdataboutique.com/customers">Customers</a>
          </li>
          <li>
            <a href="https://bigdataboutique.com/partners">Partners</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <ul>
          <li>
            <a href="https://bigdataboutique.com/blog/">Blog</a>
          </li>
          <li>
            <a href="https://bigdataboutique.com/careers">Careers</a>
          </li>
          <li>
            <a href="https://bigdataboutique.com/contact">Contact</a>
          </li>
          <li>
            <a href="https://bigdataboutique.com/privacy">Privacy Policy</a>
          </li>
        </ul>
        <div class="certificates"></div>
      </div>
    </nav>
    <div class="trademarks">
      <p>
        Elasticsearch, Kibana, Logstash, and Beats are trademarks of
        Elasticsearch BV, registered in the U.S. and in other countries.<br />
        BigData Boutique, Inc. is not affiliated with Elasticsearch BV.
      </p>
    </div>
    <div class="socials">
      <div class="copyright">
        <p>© <span id="copyright-year"></span> BigData Boutique <br /></p>
      </div>
      <div class="icons">
        <a
          href="https://github.com/BigDataBoutique/"
          target="_blank"
          rel="noreferrer"
        >
          <img class="icon" src="/static/theme/img/github.svg" alt="github" />
        </a>
        <a
          href="https://www.facebook.com/bigdataboutique/"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="icon"
            src="/static/theme/img/facebook.svg"
            alt="facebook"
          />
        </a>
        <a
          href="https://twitter.com/bigdataboutique"
          target="_blank"
          rel="noreferrer"
        >
          <img class="icon" src="/static/theme/img/twitter.svg" alt="twitter" />
        </a>
        <a
          href="https://www.linkedin.com/company/bigdata-boutique"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="icon"
            src="/static/theme/img/linkedin.svg"
            alt="linkedin"
          />
        </a>
        <a
          href="https://www.youtube.com/c/bigdataboutique"
          target="_blank"
          rel="noreferrer"
        >
          <img class="icon" src="/static/theme/img/youtube.svg" alt="youtube" />
        </a>
      </div>
    </div>
  </div>
</footer>
