{{#if isLocalhost}}
  <noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-PJDLG3H&gtm_auth=o2QJCZI7FEhVA7NaPtCrSA&gtm_preview=env-67&gtm_cookies_win=x"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe>
  </noscript>
{{else}}
  <noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-PJDLG3H"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe>
  </noscript>
{{/if}}
<header>
  <div class="navbar-container">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <img
            src="//bigdataboutique.com/images/horizontal-logo.svg"
            class="d-inline-block align-top"
            alt="logo"
          />
          <span class="blog-text">
            BLOG
          </span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="https://bigdataboutique.com">
                Main Website
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://bigdataboutique.com/services">
                Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://pulse.support">
                24/7 Support
              </a>
            </li>
            <li class="nav-item">
              <a class="button-small hover-disabled-link" href="/contact">
                Let's Talk
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>