<div
  class="modal fade subscribe-modal"
  id="subscribeModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="loader-container">
          <span class="loader"></span>
        </div>
        <div class="subscribe-form" style="min-width: 320px; min-height: 630px">
          <h4>Subscribe to Monthly Newsletter</h4>
          <p>
            Keep up-to-date with important changes in big data technologies;
            discover new features and tools for your business.
          </p>
          <div id="hubspot-subscribe-form"></div>
        </div>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="fa fa-times"></span>
        </button>
      </div>
    </div>
  </div>
</div>
